 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
                  <a class="navbar-brand" href="#">
            <img src="/images/logo_ppc_nav.png" width="110" height="25" alt="">
          </a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div><!-- navbar-header-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            <li><a href="/home">Home</a></li>
            <li><a href="/comparison">Comparar PPCs</a></li>
            <li><a href="#contact">Contato</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  PPC's 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- Colocar aqui paginas dos ppcs, com informacoes, download, etc -->
                <li><a href="#">Ciência da Computação</a></li>
                <li><a href="#">Ciência da Computação</a></li>
                <li><a href="#">Something else here</a></li>
             <!--<li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul> <!-- dropdown menu-->
            </li><!-- dropdown -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/logout">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- container -->
    </nav>