/**
  * Name: style
  * Version: 1.0
  * Author: hadamo egito

*/
body {
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 10px;
}





.comparacao 
{
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 500px;
  background-color: #DCE0D0;
}
.espaco-comp 
{ 
  margin-top:20px; 
}
.espaco-btn
{
  margin-left: 40px;
}
/*
.btn.btn-danger
{
    width: 100px;
}*/


/*Troca de senha*/
.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 

.navbar
{
  min-height: 80px;
}

.navbar-default
{
  background-color: rgba(0,0,0,0.920);
  border-color: transparent;
  padding-top: 15px;
}
#nav .navbar-nav ul
{
  float: none;
}


/* card das legendas*/
.card
{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 40%;
  height: 190px;
  margin-bottom: 40px;
}
 .panel-default >.panel-heading
{
  background-color: rgba(0,0,0,0.920);
}
 .panel-default >.panel-heading > h4
 {
  color: white;
 }