<% layout('../../template/ws_layout') -%>
        

    <div class="clearfix"></div>

    <!-- Start Home -->
    <div class="pageheader fixed-demo dark">
        <div class="container" >
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="title">Auxiliando sua Escolha.</h2>
                    <p> montando seu futuro </p>     
                </div>
                <div class="col-sm-5">
                    <img src="/image/ws/boneco3.png" style="width: 400px;">
                </div>
            </div><!--row-->
        </div><!-- container-->
    </div><!--pageheader fixed-demo dark-->
    <div class="section gray padding-bot50">
        <div class="container">
            <div class="row">
                <div class="panel panel-default home-content">
                    <div class="p-15">
                        <h6> Bem vindo ao PPC Choice!</h6>
                        <p>Este site foi desenvolvido com intuito de auxiliar estudantes interessados em trocar de ppc, e fazemos ao fornecer uma aplicação que simula a situação do aluno em relação a completude de seu curso caso decida mudar de ppc!</p>
                        <p>E o melhor de tudo é que é <b>extremamente simples</b> e <b>grátis</b></p>
                        <p>Basta selecionar o ppc atual do seu curso e marcar as disciplinas concluídas, após isso selecione o ppc que deseja comparar e clique em comparar!</p>
                        <p><i>Em breve será possível realizar comparação para fins de reingresso e mudança de curso!</i></p>
                        <center><b><a href="/comparison">Vamos lá?</a></b></center>
                    </div>
                </div>
            </div><!--rox-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default home-content">
                        <div class="p-15">
                            <h6> PPC what?</h6>
                            <p>O <b>Projeto Pedagógico do Curso (PPC)</b> é o documento em que se encontram as informações oficiais sobre os assuntos que organizam sua vida estudantil no interior do curso.</p> 
                            <p>A matriz (grade) curricular com as disciplinas obrigatórias, optativas, equivalências etc. estão disponíveis no PPC.</p> 
                            <p>No <a href="https://aluno.ufes.br/">Portal do Aluno</a> você pode ter acesso a essas informações de seu curso.</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default home-content">
                        <div class="p-15">
                            <h6> Como realizar a troca?</h6>
                            <p>O Projeto Pedagógico do Curso é o documento em que se encontram as informações oficiais sobre os assuntos que organizam sua vida estudantil no interior do curso.</p> 
                            <p>A matriz (grade) curricular com as disciplinas obrigatórias, optativas, equivalências etc. estão disponíveis no PPC.</p> 
                            <p>No <a href="https://aluno.ufes.br/">Portal do Aluno</a> você pode ter acesso a essas informações de seu curso.</p>
                        </div>
                    </div> 
                </div>
            </div><!--rox-->
        </div> <!-- container-->

    </div> <!-- section -->
    <!-- End Home -->

    <!-- Start Content -->
   
    <!-- End Content -->

    <div class="clearfix"></div>
